body {
  background-color: #66a3ff;
}
#logo {
  margin-top: -15px;
}
.tableContainer {
  margin-bottom: 40px;
}
#sessionsContainer {
  margin-top: 100px;
}
.note-modal-window .modal-dialog {
  width: 80%;
}
.SingleProject :hover{
  background-color: #5bc0de;
}
.headerProject :hover{
  background-color: #428bca;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
