body {
  background-color: #003865;
}

span.step {
  background: #660066;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}


#logo {
  margin-top: -15px;
}
.tableContainer {
  margin-bottom: 40px;
}
#sessionsContainer {
  margin-top: 100px;
}
.note-modal-window .modal-dialog {
  width: 80%;
}
.SingleProject :hover{
  background-color: #5bc0de;
}
.headerProject :hover{
  background-color: #428bca;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#showBtn {
  background-color: #5b6073;
}

#unShowBtn {
  background-color: #4fb8ba;
}

#loadingScreen{
  width: 100%;
}

.spinner {
	/* Size and position */
    font-size: 100px; /* 1em */
    width: 2em;
    height: 2em;
    margin: 100px auto;
    position: relative;

    /* Styles */
    list-style: none;
    border-radius: 50%;
    /*border: .001em solid rgba(150,150,150,0.1); /* Subtle white line circling the dots */*/
}

.spinner li {
	width: .4em;
    height: .4em;
    position: absolute;
    border-radius: 50%;
}

.spinner li:nth-child(1) {
	background: #00ced1; /* Blue */
    top: 0;
    left: 50%;
    margin-left: -.2em; /* Width/2 */
    transform-origin: 50% 250%;
    animation:
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.spinner li:nth-child(2) {
    background:#ff0000; /* Red */
    top: 50%;
    right: 0;
    margin-top: -.2em; /* Height/2 */
    transform-origin: -150% 50%;
    animation:
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.spinner li:nth-child(3) {
    background: #ffff00; /* Yellow */
    bottom: 0;
    left: 50%;
    margin-left: -.2em; /* Width/2 */
    transform-origin: 50% -150%;
    animation:
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.spinner li:nth-child(4) {
    background: #00ff00; /* Green */
    top: 50%;
    left: 0;
    margin-top: -.2em; /* Height/2 */
    transform-origin: 250% 50%;
    animation:
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}
